@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
@font-face {
  font-family: "marck_scriptregular";
  src: url("../fonts/marckscript/marckscript-regular-webfont.eot");
  src: url("../fonts/marckscript/marckscript-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/marckscript/marckscript-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/marckscript/marckscript-regular-webfont.woff") format("woff"),
    url("../fonts/marckscript/marckscript-regular-webfont.ttf")
      format("truetype"),
    url("../fonts/marckscript/marckscript-regular-webfont.svg#marck_scriptregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IndieFlower-Regular";
  src: url("../fonts/indie_flower/IndieFlower-Regular.eot");
  src: url("../fonts/indie_flower/IndieFlower-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/indie_flower/IndieFlower-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IndieFlower";
  src: url("../fonts/indie_flower/IndieFlower.svg#IndieFlower") format("svg"),
    url("../fonts/indie_flower/IndieFlower.ttf") format("truetype"),
    url("../fonts/indie_flower/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: rgb(224, 188, 219);
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
}
.content {
  width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
}
.header,
.footer {
  background-color: rgb(214, 100, 199);
  margin: 0px auto;
  width: 1200px;
  padding: 10px;
  box-sizing: border-box;
}
.navigation_menu {
  font-size: 0;
  text-align: center;
  z-index: 5;
  position: relative;
}
.navigation_menu li {
  display: inline-block;
  background-color: rgb(149, 207, 41);
  margin-left: 40px;
  position: relative;
  width: 200px;
}
.navigation_menu li:first-child {
  margin: 0;
}
.navigation_menu > li {
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.header li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.display_menu a,
.flex_menu a {
  padding: 16px 20px;
}
.navigation_menu .before {
  padding: 20px 20px 20px 80px;
  position: relative;
}
.navigation_menu .after {
  padding: 20px 80px 20px 20px;
  position: relative;
}
.before::before {
  display: inline-block;
  background: url("../img/css_sprites.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  content: "";
}
.item1::before {
  background-position: -170px -90px;
}
.item2::before {
  background-position: -80px -90px;
}
.after::after {
  display: inline-block;
  background: url("../img/css_sprites.png");
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  content: "";
}
.item3::after {
  background-position: -10px -10px;
}
.float_item::before {
  background-position: -250px -10px;
}
.display_menu li:hover .float_item::before {
  background-position: -90px -10px;
}
.navigation_menu li:hover .item3::after {
  background-position: -10px -90px;
}
.header li:hover {
  background-color: grey;
  color: white;
}
.display_menu {
  position: absolute;
  top: -400%;
  left: 0;
  padding: 10px 0px;
  transition: top 3s cubic-bezier(0.63, -0.62, 0.59, 1.67);
}
.navigation_menu li:hover .display_menu {
  top: 100%;
}
.display_menu li {
  margin: 0;
  position: relative;
  display: block;
  background: rgb(149, 207, 41);
  transition: background 1s ease-in-out;
}
.display_menu li:hover {
  background-color: green;
}
.display_menu li a {
  display: block;
  color: yellow;
  text-transform: lowercase;
  transition: color 2s ease-in, text-transform 2s linear 1s;
  font-family: "IndieFlower";
}
.display_menu li a:hover {
  color: white;
  text-transform: uppercase;
}
.float_menu {
  position: absolute;
  top: 0;
  right: 100%;
  padding: 0 40px;
}
.float_menu li {
  margin: 0;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1);
  transform: scale(0, 1) rotate(3turn);
}
.float_menu li a {
  font-family: "marck_scriptregular";
}
.display_menu li:hover .float_menu li {
  transform: scale(1, 1);
}
.content_list {
  list-style-type: square;
}
.content img {
  border: 3px groove rgb(177, 118, 118);
  box-shadow: 8px 8px 5px rgb(175, 147, 147);
  width: 590px;
  height: 400px;
}
span {
  font-weight: 900;
  color: rgb(8, 7, 8);
}
.content p,
.main p {
  text-indent: 25px;
}
blockquote {
  margin: 10px;
}
.content a:link {
  color: yellow;
  font-style: italic;
}
.content a:visited {
  color: blueviolet;
}
.content a:hover {
  color: white;
}
.content a:active {
  color: violet;
}
.gallery {
  font-size: 20px;
  line-height: 30px;
  width: 1200px;
  margin: 0 auto 10px;
}
.main {
  text-align: center;
}
.main > p {
  text-align: justify;
}
.navigation_2 {
  background-color: rgb(214, 100, 199);
  line-height: 40px;
  width: 300px;
  height: 250px;
  position: fixed;
  left: 0;
  bottom: 50%;
  margin-bottom: -125px;
}
.navigation_2 a {
  display: block;
}
.navigation_2 a:hover {
  background-color: white;
}
.signature {
  display: none;
  position: absolute;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: 0;
  right: 0;
  background-color: rgba(204, 164, 214, 0.5);
}
.img_wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
}
.img_wrapper:hover .signature {
  display: initial;
}
.footer_navigation {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.footer_navigation a {
  display: block;
  background-image: url("../img/css_sprites.png");
  background-position: -10px -170px;
  height: 70px;
  width: 70px;
  text-decoration: none;
}
.footer_navigation li + li a {
  background-position: -90px -170px;
}
.footer_navigation li + li + li a {
  background-position: -250px -90px;
}
.footer_navigation li + li + li + li a {
  background-position: -170px -10px;
}
.footer_navigation li + li + li + li + li a {
  background-position: -250px -170px;
}
.footer_navigation li + li + li + li + li + li a {
  background-position: -170px -170px;
}
.socials_wrapper {
  position: fixed;
  box-sizing: border-box;
  height: 300px;
  width: 30px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: lightskyblue;
  border: 2px solid mediumorchid;
  transition: all 2s ease-in-out;
  padding: 60px 30px 30px 30px;
}
.socials_wrapper:hover {
  background-color: rgb(28, 173, 28);
  width: 400px;
}
.button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 30px;
  transform-origin: 27px 27px;
  transform: rotate(-90deg);
}
.socials_icons {
  padding: 0 140px;
  width: 180px;
  display: flex;
  flex-wrap: wrap;
  transform: rotate(45deg);
}
.socials_icons li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.socials_icons a {
  display: block;
  position: relative;
  height: 80px;
  width: 80px;
  background-color: mediumspringgreen;
  overflow: hidden;
}
.socials_icons a:hover {
  background-color: lightskyblue;
}
.socials_icons a::before {
  display: inline-block;
  background-image: url("../img/css_sprites.png");
  background-position: -10px -170px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  content: "";
  transform: rotate(-45deg);
}
.socials_icons li + li a::before {
  background-position: -250px -90px;
}
.socials_icons li + li + li a::before {
  background-position: -170px -10px;
}
.socials_icons li + li + li + li a::before {
  background-position: -170px -170px;
}
